<!DOCTYPE html>
<html>
<head>
	<title>Interactive Map: Would you want to live in a "right-to-work" state?</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-i"/>
	<link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />


	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">

	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


	<!-- cartocss for high and low zoom -->
	<style type="cartocss/css" id="lowzoom">
		/** category visualization */

		#state_squares_rtw_assets_with_wage_gap {
			polygon-opacity: .8;
			line-color: #FFFFFF;
			line-width: 5;
			line-opacity: 1;
			line-join: round;
			line-cap: round;
		}

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [abbr];
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: black;
			text-halo-fill: #FFF;
			text-halo-radius: .05;
			text-dy: -5;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap[rtw_or_not="Not RTW"] {
			polygon-fill: #1F78B4;
			line-color:#1F78B4;
			line-width: 1;

		}
		#state_squares_rtw_assets_with_wage_gap[rtw_or_not="RTW"] {
			polygon-fill: #229A00;
			line-color:#229A00;
			line-width: 1;
		}
	</style>
	<style type="cartocss/css" id="highzoom">
		/** category visualization */

		#state_squares_rtw_assets_with_wage_gap {
			polygon-opacity: .8;
			line-color: #FFFFFF;
			line-width: 5;
			line-opacity: 1;
			line-join: round;
			line-cap: round;
		}


		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [abbr];
			text-face-name: 'Open Sans Regular';
			text-size: 15;
			text-label-position-tolerance: 10;
			text-fill: black;
			text-halo-fill: #FFF;
			text-halo-radius: .05;
			text-dy: -10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap[rtw_or_not="Not RTW"] {
			polygon-fill: #1F78B4;
			line-color:#1F78B4;
			line-width: 1;

		}
		#state_squares_rtw_assets_with_wage_gap[rtw_or_not="RTW"] {
			polygon-fill: #229A00;
			line-color:#229A00;
			line-width: 1;
		}
	</style>

	<!-- cartocss for wage gap toggle -->
	<style type="cartocss/css" id="wage-gap-less-21">
		/*wage gap less than 21 c*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [wage_gap] + " c" ;
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [wage_gap > 21] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width: 6;
			line-color: #FFF;
		}

		#state_squares_rtw_assets_with_wage_gap [wage_gap = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="wage-gap-more-21">
		/*minimum wage more than 21 c*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [wage_gap] + ' c';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [ wage_gap <= 21] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [ wage_gap = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for min wage toggle -->
	<style type="cartocss/css" id="min-wage-less-7-25">
		/*minimum wage less than $8*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: '$' + [min_wage];
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [ min_wage > 7.25] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [ min_wage = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="min-wage-more-7-25">
		/*minimum wage more than $8*/

		#state_squares_rtw_assets_with_wage_gapi::labels {
			text-name: '$' + [min_wage];
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [ min_wage <= 7.25] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [ min_wage = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	
	<!-- cartocss for percent poverty toggle -->
	<style type="cartocss/css" id="poverty-less-14-5">
		/*income poverty rate less 14.5*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [income_poverty_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent > 14.5] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="poverty-more-14-5">
		/*income poverty rate more 14.5*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [income_poverty_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent <= 14.5] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for percent uninsured toggle -->
	<style type="cartocss/css" id="uninsured-less-10-7">
		/*uninsured rate less 13*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [uninsured_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent > 10.7] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="uninsured-more-10-7">
		/*uninsured rate more 13*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [uninsured_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent <= 10.7] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for percent unionized toggle -->
	<style type="cartocss/css" id="unionized-less-11">
		/*percent union less 10*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [percent_union] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [percent_union > 11] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [percent_union = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="unionized-more-11">
		/*uninsured rate more 13*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [percent_union] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 2;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [percent_union <= 11] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [percent_union = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>


	<link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<div class="sidebar-content">
				<div class="sidebar-nav">			
					<div class="sidebar-brand">
						<h5>Select one of these five indicators of social well-being to see the difference a strong labor movement makes.</h5>
					</div>
					<div id="layer_selector">
						<div id="layer_list">
							<div id="layer_options">
								<ul class="collapse" id="gender-wage-gap">
									<h4>Gender wage gap</h4>
									<p>The “wage gap” is the additional money a woman would have to make for every dollar made by a man in order to have equal annual earnings. Nationally, the wage gap is 21&#162;.</p>
									<li data="<= 21" data-type="cartocss" data-param="wage-gap-less-21" class="wage-gap">States where the gender wage gap is 21&#162; or less.</li> 					
									<li data="> 21" data-type="cartocss" data-param="wage-gap-more-21" class="wage-gap">States where the gender wage gap is more than 21&#162;.</li>
									<li class="back wage-gap">Back</li>
								</ul>

								<ul class="collapse" id="amt-min-wage">
									<h4>Minimum wage</h4>
									<p>The federal minimum wage is $7.25 per hour.</p>
									<li data="> 7.25" data-type="cartocss" data-param="min-wage-more-7-25" class="min-wage">States where the minimum wage is more than $7.25.</li>
									<li data="<= 7.25" data-type="cartocss" data-param="min-wage-less-7-25" class="min-wage">States where the minimum wage is $7.25 or less.</li>
									<li class="back min-wage">Back</li>
								</ul>

								<ul class="collapse" id="percent-poverty">
									<h4>Percent in poverty</h4>
									<p>The poverty rate in the United States was 14.5 percent in 2013.</p>
									<li data="<= 14.5" data-type="cartocss" data-param="poverty-less-14-5" class="poverty-rate">States where 14.5% or less of residents live in poverty.</li>
									<li data="> 14.5" data-type="cartocss" data-param="poverty-more-14-5" class="poverty-rate">States where more than 14.5% of residents live in poverty.</li>
									<li class="back poverty-rate">Back</li>
								</ul>

								<ul class="collapse" id="percent-uninsured">
									<h4>Percent uninsured</h4>
									<p>Approximately 10.7% of Americans were uninsured in 2015.</p>
									<li data="<= 10.7" data-type="cartocss"  data-param="uninsured-less-10-7" class="uninsured-rate">States where 10.7% or less of residents are uninsured.</li>
									<li data="> 10.7" data-type="cartocss" data-param="uninsured-more-10-7" class="uninsured-rate">States where more than 10.7% of residents are uninsured.</li>
									<li class="back uninsured-rate">Back</li>
								</ul>

								<ul class="collapse" id="percent-unionized">
									<h4>Percent unionized</h4>
									<p>Approximately 11.3% of U.S. workers were members of a labor union in 2013.</p>
									<li data="<= 11" data-type="cartocss" data-param="unionized-more-11" class="unionized-rate">States where more than 11% of workers are unionized.</li>
									<li data="> 11" data-type="cartocss" data-param="unionized-less-11" class="unionized-rate">States where 11% or less of workers are unionized.</li>
									<li class="back unionized-rate">Back</li>
								</ul>
							</div>
							<h5>
								<a href="#gender-wage-gap" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#sidebarmenu">
									<span class="back">Back to menu</span>
									<span class="title">Gender wage gap</span>
								</a>
							</h5>
							<h5>
								<a href="#amt-min-wage" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#sidebarmenu">
									<span class="back">Back to menu</span>
									<span class="title">Minimum wage</span>
								</a>
							</h5>
							<h5>
								<a href="#percent-poverty" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#sidebarmenu">
									<span class="back">Back to menu</span>
									<span class="title">Percent in poverty</span>
								</a>
							</h5>
							<h5>
								<a href="#percent-uninsured" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#sidebarmenu">
									<span class="back">Back to menu</span>
									<span class="title">Percent uninsured</span>
								</a>
							</h5>
							<h5>
								<a href="#percent-unionized" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#sidebarmenu">
									<span class="back">Back to menu</span>
									<span class="title">Percent unionized</span>
								</a>
							</h5>
						</div>
					</div>	

				</div>
			</div>
			<div class="sidebar-footer">
				<div class="sources">
					<p>Sources: <a href="http://nwlc.org/resources/wage-gap-state-women-overall-2014/" target="_blank">National Women's Law Center</a>, <a href="https://www.dol.gov/whd/minwage/america.htm">U.S. Department of Labor</a>, <a href="http://assetsandopportunity.org/" target="_blank">Corporation for Enterprise Development</a>, and <a href="http://www.bls.gov/news.release/union2.t05.htm">U.S. Bureau of Labor Statistics</a></p>
				</div>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<a href="" class="btn btn-primary" id="show-menu"><i class="fa fa-long-arrow-down" aria-hidden="true"></i> Show menu</a>
						<div class="page-content-nav">
							<div data-role="page" id="pageone">
								<div data-role="main" class="ui-content">
									<h1><a href="#">Would you want to live in a "right-to-work" state?</a></h1>
									<div class="page-content-brand" id="title">
										<p>Twenty-six states have passed “right-to-work” laws that bar labor unions from collecting agency or “fair-share” fees. It’s a no-brainer that right-to-work laws weaken unions. But what is life like for everyone who lives in a “right-to-work” state?</p>
										<p>See for yourself how these states measure up on the gender wage gap, the minimum wage, percent living in poverty, percent without health insurance and percent unionized.</p>
									</div>
									<a href="#pagetwo" data-transition="slide" class="btn btn-primary">View 5 key indicators of social well-being <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
								</div>
							</div> 
							<div data-role="page" id="pagetwo">
								<div data-role="main" class="ui-content">
									<h5>Select one of these five indicators of social well-being to see the difference a strong labor movement makes.</h5>
									<div id="layer_selector">
										<div id="layer_list">
											<div id="layer_options">
												<ul class="collapse" id="gender-wage-gap-2">
													<h4>Gender wage gap</h4>
													<p>The “wage gap” is the additional money a woman would have to make for every dollar made by a man in order to have equal annual earnings. Nationally, the wage gap is 21&#162;.</p>
													<li data="<= 21" data-type="cartocss" data-param="wage-gap-less-21" class="wage-gap">States where the gender wage gap is 21&#162; or less.</li> 					
													<li data="> 21" data-type="cartocss" data-param="wage-gap-more-21" class="wage-gap">States where the gender wage gap is more than 21&#162;.</li>
													<li class="back wage-gap">Back</li>
												</ul>

												<ul class="collapse" id="amt-min-wage-2">
													<h4>Minimum wage</h4>
													<p>The federal minimum wage is $7.25 per hour.</p>
													<li data="> 7.25" data-type="cartocss" data-param="min-wage-more-7-25" class="min-wage">States where the minimum wage is more than $7.25.</li>
													<li data="<= 7.25" data-type="cartocss" data-param="min-wage-less-7-25" class="min-wage">States where the minimum wage is $7.25 or less.</li>
													<li class="back min-wage">Back</li>
												</ul>

												<ul class="collapse" id="percent-poverty-2">
													<h4>Percent in poverty</h4>
													<p>The poverty rate in the United States was 14.5 percent in 2013.</p>
													<li data="<= 14.5" data-type="cartocss" data-param="poverty-less-14-5" class="poverty-rate">States where 14.5% or less of residents live in poverty.</li>
													<li data="> 14.5" data-type="cartocss" data-param="poverty-more-14-5" class="poverty-rate">States where more than 14.5% of residents live in poverty.</li>
													<li class="back poverty-rate">Back</li>
												</ul>

												<ul class="collapse" id="percent-uninsured-2">
													<h4>Percent uninsured</h4>
													<p>Approximately 10.7% of Americans were uninsured in 2015.</p>
													<li data="<= 10.7" data-type="cartocss"  data-param="uninsured-less-10-7" class="uninsured-rate">States where 10.7% or less of residents are uninsured.</li>
													<li data="> 10.7" data-type="cartocss" data-param="uninsured-more-10-7" class="uninsured-rate">States where more than 10.7% of residents are uninsured.</li>
													<li class="back uninsured-rate">Back</li>

												</ul>

												<ul class="collapse" id="percent-unionized-2">
													<h4>Percent unionized</h4>
													<p>Approximately 11.3% of U.S. workers were members of a labor union in 2013.</p>
													<li data="<= 11" data-type="cartocss" data-param="unionized-more-11" class="unionized-rate">States where more than 11% of workers are unionized.</li>
													<li data="> 11" data-type="cartocss" data-param="unionized-less-11" class="unionized-rate">States where 11% or less of workers are unionized.</li>
													<li class="back unionized-rate">Back</li>
												</ul>
											</div>
											<h5>
												<a href="#gender-wage-gap-2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
													<span class="back">Back to menu</span>
													<span class="title">Gender wage gap</span>
												</a>
											</h5>
											<h5>
												<a href="#amt-min-wage-2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
													<span class="back">Back to menu</span>
													<span class="title">Minimum wage</span>
												</a>
											</h5>
											<h5>
												<a href="#percent-poverty-2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
													<span class="back">Back to menu</span>
													<span class="title">Percent in poverty</span>
												</a>
											</h5>
											<h5>
												<a href="#percent-uninsured-2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
													<span class="back">Back to menu</span>
													<span class="title">Percent uninsured</span>
												</a>
											</h5>
											<h5>
												<a href="#percent-unionized-2" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
													<span class="back">Back to menu</span>
													<span class="title">Percent unionized</span>
												</a>
											</h5>
										</div>
									</div>
									<div id="menu-options">
										<a href="#pageone" class="btn btn-primary" data-transition="slide" data-direction="reverse"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Return home</a>
										<a href="#" onclick="location.reload();" class="btn btn-primary"><i class="fa fa-refresh" aria-hidden="true"></i> Reset map</a> 
										<a href="#" class="btn btn-primary" id="hide-menu"><i class="fa fa-long-arrow-up" aria-hidden="true"></i> Hide</a>  
									</div>
								</div>
							</div>
							<div class="page-content-nav-footer">
								<div class="sources">
									<p>Sources: <a href="http://nwlc.org/resources/wage-gap-state-women-overall-2014/" target="_blank">National Women's Law Center</a>, <a href="https://www.dol.gov/whd/minwage/america.htm">U.S. Department of Labor</a>, <a href="http://assetsandopportunity.org/" target="_blank">Corporation for Enterprise Development</a>, and <a href="http://www.bls.gov/news.release/union2.t05.htm">U.S. Bureau of Labor Statistics</a></p>
								</div>
							</div>
						</div>

						<div id="map"></div>
						<div class='cartodb-legend category'>	
							<ul>
								<li>
									<div class="bullet" style="background: #5CA2D1"></div> STATES THAT ALLOW THE COLLECTION OF FAIR-SHARE FEES
								</li>
								<li>
									<div class="bullet" style="background: #229A00"></div> RIGHT-TO-WORK STATES
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
</body>


<script src="https://use.fontawesome.com/8bfa0d39d5.js"></script>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<!-- include cartodb.js library -->
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../../scripts.js"></script>


</html>⁄