<!DOCTYPE html>
<html>
<head>
	<title>Right-to-work</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- cartocss for wage gap toggle -->
	<style type="cartocss/css" id="wage-gap-less-80">
		/*minimum wage less than $8*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [wage_gap] + " c" ;
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [ wage_gap > 21] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [ wage_gap = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="wage-gap-more-80">
		/*minimum wage more than $8*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [wage_gap] + ' c';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [ wage_gap <= 21] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [ wage_gap = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for min wage toggle -->
	<style type="cartocss/css" id="min-wage-less-8">
		/*minimum wage less than $8*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: '$' + [min_wage];
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [ min_wage > 7.25] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [ min_wage = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="min-wage-more-8">
		/*minimum wage more than $8*/

		#state_squares_rtw_assets_with_wage_gapi::labels {
			text-name: '$' + [min_wage];
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [ min_wage <= 7.25] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [ min_wage = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	
	<!-- cartocss for percent poverty toggle -->
	<style type="cartocss/css" id="poverty-less-15">
		/*income poverty rate less 15*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [income_poverty_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent > 15] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="poverty-more-15">
		/*income poverty rate more 15*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [income_poverty_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent <= 15] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [income_poverty_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for percent uninsured toggle -->
	<style type="cartocss/css" id="uninsured-less-13">
		/*uninsured rate less 13*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [uninsured_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent > 13] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="uninsured-more-13">
		/*uninsured rate more 13*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [uninsured_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent <= 13] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [uninsured_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for percent unionized toggle -->
	<style type="cartocss/css" id="unionized-less-10">
		/*percent union less 10*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [percent_union] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [percent_union > 10] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [percent_union = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="unionized-more-10">
		/*uninsured rate more 13*/

		#state_squares_rtw_assets_with_wage_gap::labels {
			text-name: [percent_union] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_assets_with_wage_gap [percent_union <= 10] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_assets_with_wage_gap [percent_union = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<!-- top navbar -->
<!--  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Right to Work States</a>
      </div>
    </div>
  </div> -->


  <div id="container">
  	<div class="row" id="row-main">
  		<div class="col-md-9" id="content">
  			<div id="map"></div>
  		</div>

  		<div class="col-md-3" id="sidebar">
  			<div class="row">
  				<div class="col-md-12">
  					<!-- <div class = "jumbotron"> -->
  					<h2>What does it mean to live in a "right-to-work" state?</h2>
  					<!-- </div> -->
  					<div id="layer_selector">

  						<div id="layer_list">

  							<h5>
  								<a href="#gender-wage-gap" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
  									<span class="back">Back to menu</span>
  									<span class="title">Gender wage gap</span>
  								</a>
  							</h5>

  							<h5>
  								<a href="#amt-min-wage" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
  									<span class="back">Back to menu</span>
  									<span class="title">Minimum wage</span>
  								</a>
  							</h5>

  							<h5>
  								<a href="#percent-poverty" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
  									<span class="back">Back to menu</span>
  									<span class="title">Percent poverty</span>
  								</a>
  							</h5>

  							<h5>
  								<a href="#percent-uninsured" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
  									<span class="back">Back to menu</span>
  									<span class="title">Percent uninsured</span>
  								</a>
  							</h5>

  							<h5>
  								<a href="#percent-unionized" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">
  									<span class="back">Back to menu</span>
  									<span class="title">Percent unionized</span>
  								</a>
  							</h5>
  						</div>
  						<div id="layer_options">

  							<ul class="collapse" id="gender-wage-gap">
  								<h4>Gender wage gap</h4>
  								<p>The “wage gap” is the additional money a woman would have to make for every dollar made by a man in order to have equal annual earnings. Nationally, the wage gap is 21&#162;.</p>
  								<li data="<= 20" data-type="cartocss" data-param="wage-gap-less-80" class="wage-gap">Wage gap is 21&#162; or less</li> 					
  								<li data="> 20" data-type="cartocss" data-param="wage-gap-more-80" class="wage-gap">Wage gap is more than 21&#162;</li>
  								<li class="back wage-gap">Back</li>
  							</ul>

  							<ul class="collapse" id="amt-min-wage">
  								<h4>Minimum wage</h4>
  								<p>The federal minimum wage is $7.25 per hour.</p>
  								<li data="<= 8" data-type="cartocss" data-param="min-wage-less-8" class="min-wage">Minimum wage is $7.25 or less</li>
  								<li data="> 8" data-type="cartocss" data-param="min-wage-more-8" class="min-wage">Minimum wage is more than $7.25</li>
  								<li class="back min-wage">Back</li>
  							</ul>

  							<ul class="collapse" id="percent-poverty">
  								<h4>Percent poverty</h4>
  								<p>"In 2013, the official poverty rate in the US was 14.5 percent."</p>
  								<li data="<= 15" data-type="cartocss" data-param="poverty-less-15" class="poverty-rate">15% or fewer residents in poverty</li>
  								<li data="> 15" data-type="cartocss" data-param="poverty-more-15" class="poverty-rate">more than 15% residents in poverty</li>
  								<li class="back poverty-rate">Back</li>

  							</ul>

  							<ul class="collapse" id="percent-uninsured">
  								<h4>Percent uninsured</h4>
  								<li data="<= 13" data-type="cartocss"  data-param="uninsured-less-13" class="uninsured-rate">13% or less uninsured</li>
  								<li data="> 13" data-type="cartocss" data-param="uninsured-more-13" class="uninsured-rate">more than 13% uninsured</li>
  								<li class="back uninsured-rate">Back</li>

  							</ul>


  							<ul class="collapse" id="percent-unionized">
  								<h4>Percent unionized</h4>
  								<li data="<= 10" data-type="cartocss" data-param="unionized-less-10" class="unionized-rate">10% or less unionized</li>
  								<li data="> 10" data-type="cartocss" data-param="unionized-more-10" class="unionized-rate">more than 10% unionized</li>
  								<li class="back unionized-rate">Back</li>

  							</ul>


  						</div>
  					</div>
  				</div>
  			</div>

  			<!-- <div class="row">
  				<div class='cartodb-legend category'>	
  					<ul>
  						<li>
  							<div class="bullet" style="background: #5CA2D1"></div> STATES THAT ALLOW THE COLLECTION OF FAIR-SHARE FEES
  						</li>
  						<li>
  							<div class="bullet" style="background: #229A00"></div> RIGHT-TO-WORK STATES
  						</li>
  					</ul>
  				</div>
  			</div> -->

  		</div>
  	</div>
  </div><!-- /.container -->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- include cartodb.js library -->
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../../scripts.js"></script>


</html>⁄