<!DOCTYPE html>
<html>
<head>
	<title>Right-to-work</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
	<link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- cartocss for min wage toggle -->
	<style type="cartocss/css" id="wage-less-8">
		/*minimum wage less than $8*/

		#state_squares_rtw_states_data::labels {
			text-name: '$' + [min_wage];
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [ min_wage > 8] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [ min_wage = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="wage-more-8">
		/*minimum wage more than $8*/

		#state_squares_rtw_states_data::labels {
			text-name: '$' + [min_wage];
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [ min_wage <= 8] {
			polygon-fill: #FFF;
			polygon-opacity: .9;
			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [ min_wage = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	
	<!-- cartocss for percent poverty toggle -->
	<style type="cartocss/css" id="poverty-less-15">
		/*income poverty rate less 15*/

		#state_squares_rtw_states_data::labels {
			text-name: [income_poverty_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [income_poverty_rate_percent > 15] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [income_poverty_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="poverty-more-15">
		/*income poverty rate more 15*/

		#state_squares_rtw_states_data::labels {
			text-name: [income_poverty_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [income_poverty_rate_percent <= 15] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [income_poverty_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for percent uninsured toggle -->
	<style type="cartocss/css" id="uninsured-less-13">
		/*uninsured rate less 13*/

		#state_squares_rtw_states_data::labels {
			text-name: [uninsured_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [uninsured_rate_percent > 13] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [uninsured_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="uninsured-more-13">
		/*uninsured rate more 13*/

		#state_squares_rtw_states_data::labels {
			text-name: [uninsured_rate_percent] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [uninsured_rate_percent <= 13] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [uninsured_rate_percent = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<!-- cartocss for percent unionized toggle -->
	<style type="cartocss/css" id="unionized-less-10">
		/*percent union less 10*/

		#state_squares_rtw_states_data::labels {
			text-name: [percent_union] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [percent_union > 10] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [percent_union = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>
	<style type="cartocss/css" id="unionized-more-10">
		/*uninsured rate more 13*/

		#state_squares_rtw_states_data::labels {
			text-name: [percent_union] + '%';
			text-face-name: 'Open Sans Regular';
			text-size: 10;
			text-label-position-tolerance: 10;
			text-fill: #000;
			text-halo-fill: #FFFFFF;
			text-halo-radius: 0 ;
			text-dy: 10;
			text-allow-overlap: false;
			text-placement: point;
			text-placement-type: simple;
		}

		#state_squares_rtw_states_data [percent_union <= 10] {
			polygon-fill: #FFF;
			polygon-opacity: .9;

			line-width:6;
			line-color:#FFF;
		}
		#state_squares_rtw_states_data [percent_union = null] {
			polygon-fill: #FFF;
			polygon-opacity: 1;
			line-width:6;
			line-color:#FFF;
		}
	</style>

	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<!-- top navbar -->
<!--  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Right to Work States</a>
      </div>
    </div>
  </div> -->


  <div id="container">
  	<div class="row row-offcanvas row-offcanvas-left">
  		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  			<div id="layer_selector" class="cartodb-infobox">
  				
  				<h5><a href="#amt-min-wage" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Minimum wage</a></h5>
  				<ul class="collapse" id="amt-min-wage">
  					<li data="<= 8" data-type="cartocss" data-param="wage-less-8" class="min-wage">Minimum wage is $8 or less</li>
  					<li data="> 8" data-type="cartocss" data-param="wage-more-8" class="min-wage">Minimum wage is more than $8</li>
  				</ul>

  				<h5><a href="#percent-poverty" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Percent poverty</a></h5>
  				<ul class="collapse" id="percent-poverty">
  					<li data="<= 15" data-type="cartocss" data-param="poverty-less-15" class="poverty-rate">15% or fewer residents in poverty</li>
  					<li data="> 15" data-type="cartocss" data-param="poverty-more-15" class="poverty-rate">more than 15% residents in poverty</li>
  				</ul>

  				<h5><a href="#percent-uninsured" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Percent uninsured</a></h5>
  				<ul class="collapse" id="percent-uninsured">
  					<li data="<= 13" data-type="cartocss"  data-param="uninsured-less-13" class="uninsured-rate">13% or less uninsured</li>
  					<li data="> 13" data-type="cartocss" data-param="uninsured-more-13" class="uninsured-rate">more than 13% uninsured</li>
  				</ul>

  				<h5><a href="#percent-unionized" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Percent unionized</a></h5>
  				<ul class="collapse" id="percent-unionized">
  					<li data="<= 10" data-type="cartocss" data-param="unionized-less-10" class="unionized-rate">10% or less unionized</li>
  					<li data="> 10" data-type="cartocss" data-param="unionized-more-10" class="unionized-rate">more than 10% unionized</li>
  				</ul>
  				<ul>
  					<li>RESET</li>
  				</ul>
  			</div>
  		</div>
  	</div>
  	<div id="map"></div>

  </div><!-- /.container -->
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- include cartodb.js library -->
<script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="../../scripts.js"></script>


</html>⁄