html, body, #container {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

/*Page content nav and wrapper styles*/
.page-content-nav {
  position:absolute;
  z-index: 1000;
  padding: 20px 30px; 
  border-radius: 4px;
  min-height: 340px;
  width:100%;
  overflow: auto;
}

.page-content-nav h1 {
  margin-top: 7px;
}
.page-content-nav a:hover {
  text-decoration: none;

}
.page-content-nav a.ui-link:hover {
  text-decoration: none;
}

.page-content-nav .ui-page {
  min-height: inherit !important;
}
.page-content-nav .ui-page-theme-a {
  text-shadow: none;
}

.page-content-nav.ui-overlay-a, .ui-page-theme-a {
  background-color: rgba(249, 249,249,0.8);
}

.ui-page.ui-page-theme-a.ui-page-active {
  display:flex;
}

#pagetwo h5 {
  margin-top:0px;
  margin-bottom:5px;
}
.page-content-nav .ui-content {
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:100%;
}

.page-content-nav .btn-primary {
  background:transparent;
  border-color: #38c;
}

.page-content-nav .btn-primary:hover {
  background:#38c;
  color: #fff;
}

.page-content-nav #layer_selector h5 {
  padding:0;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.page-content-nav #layer_options h4 {
  font-weight: 600;
}

.page-content-nav #layer_options p {
  font-size: 13px
}

.page-content-nav #layer_options ul {
  padding-bottom: 10px
}


#map {
	width: auto;
	height: 100vh;
  padding: 0;
  margin:0;
}

#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#page-content-wrapper > .container-fluid .col-lg-12 {
  padding:0;
}

/*#options-menu {
  text-align:center;
  background: white;
  margin:0;
}*/

#menu-options {
  display: flex;
  justify-content: center;
}

#menu-options a {
  width:100%;
}

#show-menu.btn-primary {
  background:white;
  border-color: #38c;
  width:100%;
  color:#38c;
  font-size: 12px;
  font-weight: 600;
}

#show-menu.btn-primary:hover {
  background:#38c;
  color: #fff;
}

/* Sidebar styles */

#wrapper.toggled {
  padding-right: 300px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#sidebar-wrapper {
  z-index: 2000;
  position: fixed;
  right: 300px;
  width: 0;
  height: 100%;
  margin-right: -300px;
  overflow-y: auto;
  opacity: 0.9;
  background-color: rgba(255, 250,250,0.9);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0px 20px;
  list-style: none;
  height: 100vh;
}

.sidebar-nav > .sidebar-brand a:hover {
  background: none;
  text-decoration: none;
}

#sidebar-toggle-wrapper {
  right: 300px;
  position: fixed;
  z-index: 9999;
  position: fixed;
  right: 300px;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-toggle {
  border-radius: 0px;
  text-transform: uppercase;
  margin-top: 20px;
  float:right;
  padding-left: 30px;
  padding-right: 20px;
}

/* Sidebar and some page content map selector*/
li.back {
  text-transform: uppercase;
  font-weight: 800;
}

a.list-group-item-success {
  width:100%;
}

#layer_selector h5 {
  font-weight: 600;
  text-align: left;
}

#sidebar-wrapper #layer_selector #layer_list h5 {
  font-weight:400;
  font-family: "Helvetica", Arial;
  padding: 3px 0px;
  text-align: center;
}
#layer_selector ul {
  padding: 0; margin: 0;
  list-style-type: none;
}
#layer_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}
#layer_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}
#layer_selector li.selected {
  background-color: #EEE;
}


/* Legend styles */
div.cartodb-legend {
  border: none;
  box-shadow: rgba(0,0,0,0) 0 0 4px 2px;
  width: 95%;
  background-color: rgba(255,255,255,0.8);
}

div.cartodb-legend > ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

div.cartodb-legend.category > ul li {
  height: 25px;
  display: flex;
  align-items: center;
  margin: 0px 20px;
  font-size: 11px;
}

div.cartodb-legend.category > ul li .bullet {
  border-radius: 0px;
  height: 20px;
  width:20px
}

/* Info boxes styles */

div.cartodb-infowindow {
  z-index: 4000;
}
.cartodb-popup-content h4, .cartodb-tooltip-content-wrapper .cartodb-tooltip-content h4 {
  font-size: 12px;
}

div.cartodb-popup p, .cartodb-tooltip-content-wrapper .cartodb-tooltip-content p {
  font-size: 12px;
}

div.cartodb-popup p:nth-child(1), .cartodb-tooltip-content-wrapper .cartodb-tooltip-content p:nth-child(1) {
  font-size: 18px;
}
div.cartodb-popup.v2 div.cartodb-popup-content-wrapper {
  background: rgba(0,0,0,.5);
}



/* Zoom styles */
div.cartodb-zoom{
  position: fixed;
  bottom: 100px;
  box-shadow: none;
}

/* Responsive styles */

@media(min-width: 720px) {
  #wrapper {
    padding-right: 300px;
  }

  #wrapper.toggled {
    padding-right: 0;
  }

  #sidebar-wrapper {
    width: 300px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
  .page-content-nav {
    visibility: hidden;
  }

  .sidebar-nav {
    display: block;
  }
}

@media(max-width: 719px) {
  .page-content-nav {
    visibility: visible;
    min-height:290px;
    overflow: auto;
  }

  .page-content-nav h1 {
    font-size: 24px;
    margin-top: 0px;
  }
  .page-content-nav #layer_options h4 {
    font-size: 13px;
  }
  .page-content-nav p, .page-content-nav .btn, .page-content-nav h5, .page-content-nav #layer_selector h5, .page-content-nav #layer_selector li, .page-content-nav #layer_options p  {
    font-size: 12px;
  }

  .page-content-nav .list-group-item {
    padding: 7px;
  }
  .page-content-nav .btn {
    padding: 6px;
  }

  .page-content-nav .ui-content {
    padding:0.7em;
  }
  #menu-toggle {
    visibility: hidden;
  }

}

@media(max-width: 420px) {
  .page-content-nav #pageone {
    min-height: 24px;
  }
}