html, body, #container {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	/*padding-top: 50px;*/
}

#row-main {
  /*  overflow-x: hidden;*/ /* necessary to hide collapsed sidebar */
}

#content {
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
#sidebar {
/*  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease;*/
}

.collapsed {
  /* hide it for small displays*/
  /*display: none;*/
}

@media (min-width: 992px) {
  .collapsed {
    /*display: block;*/
    /*margin-right: -25%;*/ /* same width as sidebar */
  }
}
#map {
	width: auto;
	height: 100vh;
	box-shadow: 0 0 10px rgba(0,0,0,0.55);
  padding: 0;
  margin:0;
}

li.back {
  text-transform: uppercase;
  font-weight: 800;
}

div.cartodb-legend.category ul li .bullet, div.cartodb-legend.color ul li .bullet, div.cartodb-legend.custom ul li .bullet {
  border-radius: 0px;
  height: 20px;
  width:20px
}
div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
  height: 25px;
  display:flex;
  align-items:center;
}
#layer_selector h5 {
	font-family: "Helvetica", Arial;
	padding: 3px 0px;
	text-align: center;
}
#layer_selector ul {
	padding: 0; margin: 0;
	list-style-type: none;
}
#layer_selector li {
	border-bottom: 1px solid #999;
	padding: 15px 30px;
	font-family: "Helvetica", Arial;
	font-size: 13px;
	color: #444;
	cursor: auto;
}
#layer_selector li:hover {
	background-color: #F0F0F0;
	cursor: pointer;
}
#layer_selector li.selected {
	background-color: #EEE;
}



.cartodb-tooltip-content-wrapper .cartodb-tooltip-content h4 {
  font-size: 12px;
}

.cartodb-tooltip-content-wrapper .cartodb-tooltip-content p {
  font-size: 12px;
}

.cartodb-tooltip-content-wrapper .cartodb-tooltip-content p:nth-child(1) {
  font-size: 18px;
}

