html, body, #container {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	/*padding-top: 50px;*/
}

/*PAGE CONTENT*/
.page-content-nav /*.page-content-brand*/ {
  position:absolute;
  z-index: 1000;
  padding: 20px 30px; 
  background-color: rgba(255, 250,250,0.9);
  border-radius: 4px;
}
.page-content-nav .btn {
  white-space: normal;
}
.page-content-brand > h2 a:hover {
  text-decoration: none;
}
#map {
	width: auto;
	height: 100vh;
  padding: 0;
  margin:0;
}


/*SIDEBAR*/

#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 300px;
}

#sidebar-wrapper {
  z-index: 2000;
  position: fixed;
  right: 300px;
  width: 0;
  height: 100%;
  margin-right: -300px;
  overflow-y: auto;
  /*background: white;*/
  opacity: 0.9;
  background-color: rgba(255, 250,250,0.9);

  /*border-left: 1px solid #999;*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 300px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  /*padding: 15px;*/
}

#page-content-wrapper > .container-fluid .col-lg-12 {
  padding:0;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 300px;
  margin: 0;
  padding: 0px 20px;
  list-style: none;
  height: 100vh;
}

.sidebar-nav > .sidebar-brand {
}

.sidebar-nav > .sidebar-brand a {
}

.sidebar-nav > .sidebar-brand a:hover {
  background: none;
  text-decoration: none;
}

li.back {
  text-transform: uppercase;
  font-weight: 800;
}

a.list-group-item-success {
  width:100%;
}

#layer_selector h5 {
  font-weight: 600;
  text-align: left;
}

#layer_selector #layer_list h5 {
  font-weight:400;
  font-family: "Helvetica", Arial;
  padding: 3px 0px;
  text-align: center;
}
#layer_selector ul {
  padding: 0; margin: 0;
  list-style-type: none;
}
#layer_selector li {
  border-bottom: 1px solid #999;
  padding: 15px 30px;
  font-family: "Helvetica", Arial;
  font-size: 13px;
  color: #444;
  cursor: auto;
}
#layer_selector li:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}
#layer_selector li.selected {
  background-color: #EEE;
}

#sidebar-toggle-wrapper {
  right: 300px;
  position: fixed;
  z-index: 9999;
  position: fixed;
  right: 300px;
  width: 0;
  height: 100%;
   -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-toggle {
  border-radius: 0px;
  text-transform: uppercase;
  margin-top: 20px;
  float:right;
  padding-left: 30px;
  padding-right: 20px;
}

@media(min-width: 720px) {
  #wrapper {
    padding-right: 300px;
  }

  #wrapper.toggled {
    padding-right: 0;
  }

  #sidebar-wrapper {
    width: 300px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    /*padding: 20px;*/
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-left: 0;
  }
  .page-content-nav {
    visibility: hidden;
  }

  .sidebar-nav {
    display: block;
  }
}

@media(max-width: 719px) {
  .page-content-nav {
    visibility: visible;
  }

  #menu-toggle {
    visibility: hidden;
  }

  .sidebar-nav {
    display: none;
  }
}


/* LEGEND */
div.cartodb-legend {
  border: none;
  box-shadow: rgba(0,0,0,0) 0 0 4px 2px;
  width: 95%;
  background-color: rgba(255,255,255,0.8);
}

div.cartodb-legend > ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

div.cartodb-legend.category > ul li {
  height: 25px;
  display: flex;
  align-items: center;
  margin: 0px 20px;
  font-size: 11px;
}

div.cartodb-legend.category > ul li .bullet {
  border-radius: 0px;
  height: 20px;
  width:20px
}


/*INFO BOXES*/
.cartodb-tooltip-content-wrapper .cartodb-tooltip-content h4 {
  font-size: 12px;
}

.cartodb-tooltip-content-wrapper .cartodb-tooltip-content p {
  font-size: 12px;
}

.cartodb-tooltip-content-wrapper .cartodb-tooltip-content p:nth-child(1) {
  font-size: 18px;
}

/*ZOOM*/
div.cartodb-zoom{
  position: fixed;
  bottom: 100px;
}

